<h2>Bienvenido al Home</h2>
    {{#if status}}
        <h4>Te logeaste capo</h4>
        <p>Disfruta del temon 🤘</p>
        
        <div class="embed-responsive embed-responsive-16by9">
             <iframe width="620" height="415"
                src="https://www.youtube.com/embed/GuZzuQvv7uc">
            </iframe> 
        </div>
    
    {{else}}
       <h4>¡Ups! Parece que no has iniciado sesión 😲</h4>
    {{/if}}

